.container-fluid .jumbotron, .container .jumbotron {
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media screen and (min-width: 768px)
  {
  .container-fluid .jumbotron, .container .jumbotron {
      padding-left: 60px;
      padding-right: 60px;
  }
  }
  
  @media screen and (min-width: 768px)
  {
  .jumbotron {
      padding-bottom: 48px;
      padding-top: 48px;
  }
  }
  
  .jumbotron {
    background-color: #eee;
    margin: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

.main-layout {
  display: grid;
  grid-template-rows: auto auto 20px;
  grid-template-areas:
  "header"
  "body"
  "footer"
}

.main-header {
  grid-area: header;
}

.main-body {
  grid-area: body;
  min-height: 88vh;
}

.main-footer {
  grid-area: footer;
  background-color: black;
  color: white;
}